<div class="container-xxl">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">

      <div class="card p-4 mt-4">


        <h2 class="mt-4">Login</h2>
        <div class="mb-3">
          <label for="userName" class="form-label">Email address</label>
          <input type="email" class="form-control" id="userName" aria-describedby="emailHelp" #userName required>
          <div id="emailHelp" class="form-text">Enter registered email id.</div>
        </div>
        <div class="mb-3">
          <label for="userPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="userPassword" #userPassword required>
        </div>
        <div class="row">
          <div class="col-6"><button class="btn btn-primary"
              (click)="authService.SignIn(userName.value, userPassword.value)">Login</button></div>
          <div class="col-6 text-end"><button class="btn btn-danger" (click)="authService.GoogleAuth()">Login with
              Google</button></div>
        </div>


      </div>
    </div>
  </div>
</div>