::ng-deep app-login{
    width: 100%;
}
.auth-block{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #999999;
    form{
        border-radius: 10px;
        padding: 20px;
        background: #f5f5f5;
        box-shadow: 15px 15px 50px rgb(0 0 0 / 50%);
    }
}