<div class="row w-100 h-100">
  <div class="col-md-6 offset-md-6 my-auto">
    <h2 class="mt-4">Register</h2>
    <div class="mb-3">
      <label for="userEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" #userEmail required>
    </div>
    <div class="mb-3">
      <label for="userPwd" class="form-label">Password</label>
      <input type="password" class="form-control" id="userPwd" #userPwd required>
    </div>
    <div class="row">
      <div class="col-12"><button class="btn btn-primary w-100 mb-3"
        (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button></div>
          <div class="col-12 text-center mt-3">
            <p>Already have an account?
              <a routerLink="/auth/login">Log In</a></p>
        </div>
    </div>
  </div>
</div>