<div class="row w-100 h-100">
    <div class="col-md-6 offset-md-6 my-auto">
        <h2 class="mt-4">Reset / Forgot Password</h2>
        <div class="mb-3">
            <label for="passwordResetEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail
                id="passwordResetEmail" required aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Please enter your email address to request a password reset.</div>
        </div>
        <div class="row">
            <div class="col-12"><button class="btn btn-primary w-100 mb-3"
                    (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button></div>
            <div class="col-12 text-center">
                <p>Already have an account? <a routerLink="/auth/login">Log In</a></p>
                <p>Create new <a routerLink="/auth/register">account</a>.</p>
            </div>
        </div>
    </div>
</div>